<div class="root">
    <div class="tc fw-600 txt-name">在职信息</div>
    <!--只能看的-->
    <table class="table table-bordered" ng-if="type == 1">
        <tbody>
        <tr>
            <td class="tc table-name-small">员工状态</td>
            <td class="tc table-value-small" ng-bind="basicInfo.status"></td>
            <td class="tc table-name-small">入职时间</td>
            <td class="tc table-value-small" ng-bind="onJobInfo.intoCompany"></td>
            <td class="tc table-name-small">离职时间</td>
            <td class="tc table-value-small" ng-bind="onJobInfo.leaveCompany"></td>
        </tr>
        <tr>
            <td class="tc table-name-small">岗位</td>
            <td class="tc table-value-small" ng-bind="basicInfo.post"></td>
            <td class="tc table-name-small">所属部门</td>
            <td class="tc table-value-small" ng-bind="basicInfo.dept"></td>
            <td class="tc table-name-small">汇报对象</td>
            <td class="tc table-value-small" ng-bind="onJobInfo.reportUserName"></td>
        </tr>
        <tr>
            <td class="tc table-name-small">工作地点</td>
            <td class="tc table-value-small" ng-bind="onJobInfo.workPositon"></td>
            <td class="tc table-name-small">合同到期日</td>
            <td class="tc table-value-small" ng-bind="onJobInfo.contractDate"></td>
            <td class="tc table-name-small">合同年限</td>
            <td class="tc table-value-small" ng-bind="onJobInfo.contractYear"></td>
        </tr>
        <tr>
            <td class="tc table-name-small">续签次数</td>
            <td class="tc table-value-small" ng-bind="onJobInfo.contractTimes"></td>
            <td class="tc table-name-small">司龄</td>
            <td class="tc table-value-small" ng-bind="onJobInfo.companyYears"></td>
            <td class="tc table-name-small">工龄</td>
            <td class="tc table-value-small" ng-bind="onJobInfo.workYears"></td>
        </tr>
        <tr>
            <td class="tc table-name-small">备注</td>
            <td class="tc table-value-small" colspan="5" ng-bind="onJobInfo.backupInfo"></td>
        </tr>
        </tbody>
    </table>
    <!--可以修改的-->
    <table class="table table-bordered" ng-if="type == 2">
        <tbody>
        <tr>
            <td class="tc table-name-small pdt-12">员工状态</td>
            <td class="tc table-value-small pdt-12" ng-bind="basicInfo.status"></td>
            <td class="tc table-name-small pdt-12">入职时间</td>
            <td class="tc table-value-small">
                <input type="text" class="form-control input-sm" wdate-picker ng-model="onJobInfo.intoCompany">
            </td>
            <td class="tc table-name-small pdt-12">离职时间</td>
            <td class="tc table-value-small">
                <input type="text" class="form-control input-sm" wdate-picker ng-model="onJobInfo.leaveCompany">
            </td>
        </tr>
        <tr>
            <td class="tc table-name-small pdt-12">岗位</td>
            <td class="tc table-value-small">
                <input type="text" class="form-control input-sm" ng-model="basicInfo.post">
            </td>
            <td class="tc table-name-small pdt-12">所属部门</td>
            <td class="tc table-value-small">
                <input type="text" class="form-control input-sm" ng-model="basicInfo.dept">
            </td>
            <td class="tc table-name-small pdt-12">汇报对象</td>
            <td class="tc table-value-small">
                <input type="text" class="form-control input-sm" ng-model="onJobInfo.reportUserName">
            </td>
        </tr>
        <tr>
            <td class="tc table-name-small pdt-12">工作地点</td>
            <td class="tc table-value-small">
                <input type="text" class="form-control input-sm" ng-model="onJobInfo.workPositon">
            </td>
            <td class="tc table-name-small pdt-12">合同到期日</td>
            <td class="tc table-value-small">
                <input type="text" class="form-control input-sm" wdate-picker ng-model="onJobInfo.contractDate">
            </td>
            <td class="tc table-name-small pdt-12">合同年限</td>
            <td class="tc table-value-small">
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" ng-model="onJobInfo.contractYear">
                            <div class="input-group-addon">年</div>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
        <tr>
            <td class="tc table-name-small pdt-12">续签次数</td>
            <td class="tc table-value-small">
                <input type="text" class="form-control input-sm" ng-model="onJobInfo.contractTimes">
            </td>
            <td class="tc table-name-small pdt-12">司龄</td>
            <td class="tc table-value-small">
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" ng-model="onJobInfo.companyYears">
                            <div class="input-group-addon">年</div>
                        </div>
                    </div>
                </form>
            </td>
            <td class="tc table-name-small pdt-12">工龄</td>
            <td class="tc table-value-small">
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" ng-model="onJobInfo.workYears">
                            <div class="input-group-addon">年</div>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
        <tr>
            <td class="tc table-name-small pdt-12">备注</td>
            <td class="tc table-value-small" colspan="5">
                <input type="text" class="form-control input-sm" ng-model="onJobInfo.backupInfo">
            </td>
        </tr>
        </tbody>
    </table>
</div>