<div class="container-user">
    <!--组织架构-->
    <div class="col-lg-2 col-md-2 col-sm-2">
        <div class="bg-w">
            <div class="label-header"><i class="glyphicon glyphicon-th-list label-color"></i> 组织架构</div>
            <ul id="treeNode" class="ztree"></ul>
        </div>
    </div>
    <!--主题内容-->
    <div class="col-lg-10 col-md-10 col-sm-10">
        <!--搜索条件框-->
        <div class="bg-w pd-10">
            <form class="form-inline">
                <div class="form-group col-lg-3 col-md-3 col-sm-4 pd-10">
                    <label>姓名/编号：</label>
                    <input type="text" class="form-control" ng-model="nameOrNumber">
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-4 pd-10">
                    <label>考核月份：</label>
                    <input type="text" class="form-control" ng-model="khDate" wdate-picker fmt="yyyy-MM">
                </div>
                <!--按钮组-->
                <div class="form-group col-lg-12 col-md-12 col-sm-12 tc">
                    <button type="submit" class="btn btn-info">查询</button>
                    <button type="reset" class="btn btn-warning">重置</button>
                </div>
                <div class="cf"></div>
            </form>
        </div>
        <!--搜索结果框-->
        <div class="bg-w pd-10">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 tr pd-15">
                    <button class="btn btn-default">导出</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <td>考核期</td>
                                <td>姓名</td>
                                <td>编号</td>
                                <td>岗位</td>
                                <td>个人绩效系数</td>
                                <td>组织绩效系数</td>
                                <td>最终绩效系数</td>
                                <td><a href="#/staffDocument">操作</a></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>郑晨晨</td><td>AS160512</td><td>产品部</td><td>开发工程师</td><td>在职</td><td>2016-02-12</td><td>唱歌、跳舞、篮球、游泳</td><td><a href="#/staffDocument">操作</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>