body, div, p {
    margin: 0px;
    padding: 0px;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.container-user {
    margin-top: 0px;
}

.big-header {
    width: 100%;
    height: 249px;
    background: url("../images/u438.png") no-repeat;
    background-size: cover;
}

.big-header .operation {
    color: #23b7e5;
    display: block;
    font-size: 16px;
    padding: 10px 50px;
    text-align: right;
}

.big-header .head-photo {
    display: block;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.big-header .head-photo .sex {
    background-color: white;
    border-radius: 12px;
    display: block;
    font-weight: 900;
    font-size: 18px;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 5%;
    right: 43%;
    text-align: center;
}

.big-header .head-photo .sex .f {
    color: #761c19;
}

.big-header .head-photo .sex .m {
    color: #31b0d5;
}

.big-header .head-photo img {
    height: 130px;
}

.big-header .txt1 {
    padding: 10px 50px 5px 50px;
    color: white;
}

.big-header .txt2 {
    padding: 5px 50px 10px 50px;
    color: white;
}

.pad-r-40 {
    padding-right: 40px;
}

.tl {
    text-align: left;
}

.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.fw-600 {
    font-weight: 600;
}

.pt-25 {
    padding-top: 25px !important;
}

.table-name {
    background-color: #F5F7F7;
    color: #33cccc;
    font-weight: 600;
    width: 18%;
}

.table-value {
    width: 32%;
}

.table-name-small {
    background-color: #F5F7F7;
    color: #33cccc;
    font-weight: 600;
    width: 13%;
}

.table-value-small {
    width: 20%;
}

.bg-w {
    background: white;
    border: 1px solid rgb(201, 201, 201);
    margin-top: 20px;
}

.txt-name {
    padding: 10px 0px;
    text-align: left;
}

.tab-top {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container .header, .container-fluid .header {
    border-bottom: 1px solid rgb(201, 201, 201);
    color: #0099CC;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 20px;
}

.form-radio {
    display: inline-block;
    width: 30%;
    text-align: center;
}

.ob {
    padding: 10px 0px;
    text-align: right;
}

.pd-10 {
    padding: 10px;
}

table>tbody>tr>td.pdt-12 {
	padding-top: 12px;
}

.pd-15 {
    padding: 15px;
}

.pd-20 {
    padding: 20px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.cf {
    clear: both;
}

.label-header {
    border-bottom: 2px solid #169bd5;
    font-weight: 600;
    padding: 10px 20px;

}

.label-menu {
    padding: 10px 20px;
}

.label-color {
    color: #169bd5;
}

.menu-item {
    border-bottom: 1px dashed lightgrey;
    cursor: pointer;
    padding: 5px;
}

.menu-item:hover {
	background-color: #ebebeb;
}

.menu-item.active {
	background-color: #ebebeb;
}

.menu-item input {
	border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid lightgrey;
    width: 120px;
    outline: none; 
}

.menu-item:hover i {
    display: inline-block;
}

.pd-4 {
    padding: 4px;
}

.dn {
    display: none;
}

.co {
    color: #ec971f;
}

.cr {
    color: #d9534f;
}

.cb {
	color: #2aabd2;
}

.state {
    color: grey;
    font-size: 15px;
    margin-left: 15px;
}

.state .completed {
    color:#33CC66;
}

.state .inCompleted {
    color: #FF6600;
}

.document .head-photo {
    width: 160px;
}

.label-container {
    border: 1px dashed darkgrey;
    border-radius: 5px;
    margin-top: 20px;
}

.label-container .label-header {
    border-bottom: 0px;
    color: #0099CC;
    font-size: 15px;
    font-weight: 600;
}

.label-container .label-content {
    padding: 8px 20px;
}

.label-container .label-content .label-item {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    cursor: default;
    display: inline-block;
    padding: 3px 20px;
    margin-right: 10px;
    margin-bottom: 6px;
}

.label-container .label-content .label-item.edit {
    border: 1px dashed #CCCCCC;
    color: #CCCCCC;
    cursor: pointer;
}

.login-bg {
    background: url("../images/loginbg.png") no-repeat;
    background-size: cover;
}

.login-container {
    position: absolute;
    top: 20%;
    left: calc(50% - 165px);
}

.login-container .login-logo {
    background: url("../images/loginlogo.png") no-repeat;
    background-position: center center;
    height: 150px;
}

.login-container form {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 330px;
    height: 135px;
    padding: 30px;
}

.input {
    border-radius: 6px;
    padding: 2px;
    margin-bottom: 15px;
    background-color: white;
}

.input i {
    background-position: center center;
    float: left;
    height: 32px;
    width: 32px;
}

.input input {
    border: none;
    outline: none;
    height: 30px;
    width: 290px;
}

.login-btn {
    background-color: #f0ad4e;
    border: 1px solid #eea236;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 12px;
    vertical-align: middle;
    width: 100%;
}

.login-btn:hover {
    background-color: #ec971f;
    border: 1px solid #d58512;
}

.toast-mask {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 1200;
}

.toast {
    position: absolute;
    padding: 16px 44px;
    left: 50%;
    top: 50%;
    font-size: 18px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.6);
    color: #fff;
    border-radius: 4px;
}

.file-lists {
    padding-right: 30px;
    padding-bottom: 5px;
    min-width: 130px;
}

.file-lists span {
	display: inline-block;
	width: 230px;
}

.file-lists .close {
	display: none;
}

.file-lists a, .file-lists a:hover {
	color: #3D9BD8;
}

.file-lists:hover .close {
	display: inline-block;
}

.btn.pr {
	position: relative;
	overflow: hidden;
}

.btn input[type=file] {
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 300px;
	height: 200px;
}

.loading-container {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
}

.loading-container .loading-txt {
	margin-left: -45px;
}