<!DOCTYPE html>
<html lang="en" ng-app="unit" xmlns:ng="http://angularjs.org" id="ng-app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎使用中地集团人力资源管理系统</title>
    <!--<link rel="stylesheet" type="text/css" href="../style/lib/bootstrap/css/bootstrap.min.css">-->
    <link type="text/css" rel="stylesheet" href="../../style/system.css">
    <link type="text/css" rel="stylesheet" href="../../style/theme.css">
</head>
<body class="login-bg" ng-controller="LoginController">
    <div class="login-container">
        <!--登录界面的logo-->
        <div class="login-logo"></div>
        <!--登录界面-->
        <form name="login" novalidate class="form-horizontal" ng-submit="submitLoginUser()">
            <!--接受浏览器自动填充-->
            <div style="display: none;">
                <input type="text">
                <input type="password">
            </div>
            <!--用户名-->
            <div class="input">
                <i class="icon icon-inline icon-user"></i>
                <input type="text" placeholder="请输入账号" autocomplete="off" ng-model="userName" ng-auto>
            </div>
            <!--密码-->
            <div class="input">
                <i class="icon icon-inline icon-pwd"></i>
                <input type="password" placeholder="请输入密码" autocomplete="off" ng-model="password" ng-auto>
            </div>
            <!--登录-->
            <button type="submit" class="login-btn">登录</button>
        </form>
    </div>

    <script type="text/javascript" src="../../script/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="../../script/lib/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="../../script/lib/angular/angular-route.min.js"></script>
    <script type="text/javascript" src="../../style/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../script/config.js"></script>
    <script type="text/javascript" src="../../script/directive.js"></script>
    <script type="text/javascript" src="../../script/login.js"></script>
</body>
</html>