<div class="container-user">
    <!--主要信息-->
    <div class="container bg-w">
        <div class="header row">编辑档案</div>
        <!--基本信息-->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div unit-basic-info type="2" user-info="userInfoEdit"></div>
            </div>
        </div>
        <!--在职信息-->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div unit-on-job-info type="2" on-job-info="onJobInfoEdit" basic-info="basicInfoEdit"></div>
            </div>
        </div>
    </div>

    <!--个人详情tab页-->
    <div class="container tab-top">
        <div class="row">
            <div unit-tab type="2"></div>
        </div>
    </div>

    <!--备注-->
    <div class="container bg-w tab-top">
        <div class="header row">备注</div>
        <div class="row pd-10">
            <textarea class="form-control" style="height: 120px;" ng-model="backupInfo"></textarea>
        </div>
    </div>

    <div class="tc tab-top">
        <button class="btn btn-info" ng-click="submitAllInfo()"><i class="glyphicon glyphicon-floppy-saved"></i> 保存</button>
        <button class="btn btn-warning"><i class="glyphicon glyphicon-remove"></i> 取消</button>
    </div>

    <!-- 上传的遮罩层 -->
    <div class="toast-mask" ng-show="isUploading">
        <div class="loading-container">
            <div class="loader2"></div>
            <p class="loading-txt" ng-bind="uploadMessage"></p>    
        </div>
    </div>
</div>