<div class="root">
	<!--绩效考核等tab页信息-->
    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="{active: $tabIndex == 0}" ng-click="showTabAndContent(0)"><a href="javascript: void(0)">出勤查询</a></li>
        <li role="presentation" ng-class="{active: $tabIndex == 1}" ng-click="showTabAndContent(1)"><a href="javascript: void(0)">假期查询</a></li>
        <li role="presentation" ng-class="{active: $tabIndex == 2}" ng-click="showTabAndContent(2)"><a href="javascript: void(0)">考勤汇总</a></li>
    </ul>
    
    <!--每个tab页签下面的内容（绩效考核等）-->
    <div class="tab-container">
    	<div ng-show="$tabIndex == 0">
    		<div class="pd-10">
	            <form class="form-inline">
	                <div class="form-group form-inline col-lg-12 col-md-12 col-sm-12 pd-10">
	                    <label>时间：</label>
	                    <input type="text" class="form-control" ng-model="startTime" wdate-picker> - 
	                    <input type="text" class="form-control" ng-model="endTime" wdate-picker>
	                <!-- </div>
	                <div class="form-group col-lg-3 col-md-3 col-sm-4 pd-10"> -->
	                    <label style="margin-left: 30px;">出勤情况：</label>
	                    <select class="form-control">
	                    	<option selected>请选择</option>
	                    	<option>正常</option>
	                    	<option>不正常</option>
	                    </select>
	                    <button style="margin-left: 30px;" type="submit" class="btn btn-info">查询</button>
	                </div>
	                <div class="cf"></div>
	            </form>
	        </div>
            <!--出勤查询的数据-->
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <td>日期</td>
                    <td>上班时间</td>
                    <td>下班时间</td>
                    <td>出勤情况</td>
                    <td>请求标题</td>
                    <td>开始时间--结束时间</td>
                    <td>流程编号</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="tab in tabInfos[0]">
                    <td ng-bind="tab.khdate"></td>
                    <td ng-bind="tab.personPerformance"></td>
                    <td ng-bind="tab.companyPerformance"></td>
                    <td ng-bind="tab.finnalPerformance"></td>
                    <td>
                    	<button class="btn btn-default btn-xs" ng-if="type == 1" ng-click="showTabItem(tab)">
                    		<i class="glyphicon glyphicon-th-list"></i> 详情
                    	</button>
                    </td>
                </tr>
                <tr ng-if="!tabInfos[0] || tabInfos[0].length == 0">
                	<td colspan="10">暂无数据</td>
                </tr>
                </tbody>
            </table>
            <!--分页的内容-->
            <!-- <div class="tcdPageCode" id="tcdPageCode0"></div> -->
        </div>
        <div ng-show="$tabIndex == 1">
            <!--出勤查询的数据-->
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <td>假别</td>
                    <td>已休</td>
                    <td>可休</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="tab in tabInfos[0]">
                    <td ng-bind="tab.khdate"></td>
                    <td ng-bind="tab.personPerformance"></td>
                    <td ng-bind="tab.companyPerformance"></td>
                </tr>
                <tr ng-if="!tabInfos[0] || tabInfos[0].length == 0">
                	<td colspan="10">暂无数据</td>
                </tr>
                </tbody>
            </table>
            <!--分页的内容-->
            <!-- <div class="tcdPageCode" id="tcdPageCode0"></div> -->
        </div>
        <div ng-show="$tabIndex == 0">
            
            <!--分页的内容-->
            <!-- <div class="tcdPageCode" id="tcdPageCode0"></div> -->
        </div>
    </div>
</div>